<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                @*@Html.ActionLink("EADR", "Index", "Home", new { @class = "navbar-brand" })*@
                @*< class="navbar-brand" style="padding-left:75px">&copy; Qira</>*@

                <span>@Html.ActionLink("© Qira", "Index", null, new { @class = "navbar-brand", @style = "padding-left:75px" })</span>
                <span id="loader" style="display:none;">
                    <img src="~/Img/ajax-loader.gif" />
                </span>

            </div>





            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">


                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="nav navbar-text navbar-right" style="padding-right:30px">
                        @User.Identity.Name
                        <span>(@HttpContext.Current.Request.LogonUserIdentity.Label)</span>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" class="container body-content">


            @RenderBody()


        </div> <!-- /#wrapper -->




    </div>

    
    


    <!-- JavaScript -->
    @*<script src="js/jquery-1.10.2.js"></script>
        <script src="js/bootstrap.js"></script>*@




    <!-- Page Specific Plugins -->
    @*<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
        <script src="js/morris/chart-data-morris.js"></script>
        <script src="js/tablesorter/jquery.tablesorter.js"></script>
        <script src="js/tablesorter/tables.js"></script>*@



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
