@model IEnumerable<WebUI.Models.QEntities.ActualCreditor>

@{
    ViewBag.Title = "EADR";
}

<div class="row">

    <ul class="nav navbar-nav side-nav">

        <li class="dropdown">
            <br />
            <a href="#" class="dropdown-toggle text-center" style="font-size:18px" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Задачи <b class="caret"></b></a>
            <ul class="dropdown-menu">

                @if (ViewBag.Tasks != null)
                {
                    foreach (var item in ViewBag.Tasks as SelectList)
                    {
                        <li>
                            @Ajax.ActionLink(item.Text, "SubTasks", new { id = item.Value }, new AjaxOptions() { UpdateTargetId = "subtasks" })
                        </li>
                    }
                }

            </ul>
        </li>

        <li class="text-info text-center">
            <div id="subtasks"></div>
        </li>
    </ul>
</div>

<div id="agrid"></div>
<div id="concret_task">


    @using (Ajax.BeginForm("Search", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "concret_task",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    }))
    {
        <fieldset>

            <div class="text-center form-control" style="height:auto; width:auto">

                <label>Пин:</label>
                @Html.TextBox("BusinessN")


                <label style="padding-left:50px">Договор:</label>
                @Html.TextBox("DebtDogovorN")


                <label style="padding-left:50px">Инн:</label>
                @Html.TextBox("Inn")
                <input type="submit" style="margin-left:50px"  class="btn btn-primary" value="Найти" />

                <br />
            </div>

        </fieldset>
    }

    <hr />

    <h4 class="text-center">Актуальные кредиторы:</h4>

    @*@using (Ajax.BeginForm("SearchCreditor", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "concret_task",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    }))
    {
        <fieldset>

            <div class="text-center">

                <label>Кредитор:</label>
                @Html.TextBox("orgName")

                <input type="submit" style="margin-left:10px" value="Найти" />

                <br /><br />
            </div>

        </fieldset>
    }*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgIdLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgIdShort)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgIdLong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgIdShort)
                </td>
                <td>
                    @Ajax.ActionLink("Реестры (" + item.Count + ")", "Regs", new { creditorId = item.OrgIdLong }, new AjaxOptions() { UpdateTargetId = "concret_task", LoadingElementId = "loader" })
                </td>
            </tr>
        }

    </table>

</div>


<footer>
    <p class="panel-footer" style="text-align:center">&copy; @DateTime.Now.Year -  Европейское агентство по возврату долгов.</p>
</footer>


@*@using (Html.BeginForm())
    {

        @:Таблицы:
        @Html.DropDownList("list", new SelectList(new[] { "import_user.dima_imp", "import_user.yurko_imp", "import_user.import_clnt_example" }))

        <br />

        @:Список с множественным выбором
            @Html.ListBox("list2", new MultiSelectList(new[] { "a", "b", "c", "d" }), new { style = "width:100px;" })

        <br />

        <input type="submit" name="button" value="Количество записей в таблице" />

    }

    <br />

    @ViewBag.Message*@




@section scripts
{
    @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*<script type="text/javascript">
            function OnBeginJs() {
                alert("OnBegin Callback");
            }

            function OnSuccessJs(data) {
                alert("OnSuccess Callback: " + data);
            }

            function OnFailureJs(request, error) {
                alert("OnFailure Callback: " + error);
            }

            function OnCompleteJs(request, status) {
                alert("OnComplete Callback: " + status);
            }
        </script>*@
}










