@model WebUI.Models.QEntities.QPin

@{
    if (Session["Message"] != null)
    {
        if (Session["Message"].ToString().Contains("Успешн"))
        {
            <label class="alert-success text-center">@Session["Message"]</label>
        }
        else
        {
            <label class="alert-danger text-center">@Session["Message"]</label>
        }
        Session["Message"] = null;
    }
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("К списку контрагентов", "Index")</li>
    <li>
        @Ajax.ActionLink("К списку реестров " + Model.CreditorName, "Regs", new { creditorId = Model.CreditorIdLong }, new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "concret_task",
            LoadingElementId = "loader"
        })
    </li>
    <li>
        @Ajax.ActionLink("К списку дел реестра " + Model.RegName, "Pins", new { regId = Model.RegIdLong }, new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "concret_task",
            LoadingElementId = "loader"
        })
    </li>
</ol>


<div>
    <br />

    <div class="col-lg-1">
        <br />
        <p style="height:17px">@Html.DisplayNameFor(model => model.CreditorName)</p>
        <hr />
        <p class="table-condensed" style="height:17px">@Html.DisplayNameFor(model => model.RegName)</p>
        <hr />
        <p style="height:17px" class=@Html.GetAlertType(Model.ArchiveFlag)>Дело:</p>
        <hr />
        <p style="height:17px">Долг:</p>
        <hr />
        <p style="height:17px">ФИО:</p>
        <hr />
        <p style="height:17px">@Html.DisplayNameFor(model => model.Ap)</p>
        <hr />
        <p style="height:17px">@Html.DisplayNameFor(model => model.Af)</p>
        <hr />
        @*<p style="height:17px">@Html.DisplayNameFor(model => model.Avr)</p>
            <hr />
            <p style="height:17px">@Html.DisplayNameFor(model => model.Aw)</p>
            <hr />*@
        <p style="height:17px">@Html.DisplayNameFor(model => model.Marker1)</p>
        <hr />
        <p style="height:17px">@Html.DisplayNameFor(model => model.Marker2)</p>
        <hr />
        @*<p style="height:17px">Заметки:</p>*@
    </div>

    <div class="col-lg-11 text-center">
        <br />
        <fieldset style="height:17px">
            @Html.DisplayFor(model => model.CreditorName)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.CreditorIdLong)
            @Html.DisplayFor(model => model.CreditorIdLong)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.CreditorIdShort)
            @Html.DisplayFor(model => model.CreditorIdShort)
        </fieldset>
        <hr />
        <fieldset style="height:17px">
            @Html.DisplayFor(model => model.RegName)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.RegIdShort)
            @Html.DisplayFor(model => model.RegIdShort)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.RegIdLong)
            @Html.DisplayFor(model => model.RegIdLong)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.Start)
            @Html.DisplayFor(model => model.Start)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.Stop)
            @Html.DisplayFor(model => model.Stop)
        </fieldset>
        <hr />
        <fieldset style="height:17px" class=@Html.GetAlertType(Model.ArchiveFlag)>
            @Html.DisplayNameFor(model => model.BusinessN)
            @Html.DisplayFor(model => model.BusinessN)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.DebtDogovorN)
            @Html.DisplayFor(model => model.DebtDogovorN)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.ProjectId)
            @Html.DisplayFor(model => model.ProjectId)<span>&nbsp; | &nbsp;</span>
        </fieldset>
        <hr />
        <fieldset style="height:17px">
            @Html.DisplayNameFor(model => model.DebtRest)
            @Html.DisplayFor(model => model.DebtRest)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.TotalRest)
            @Html.DisplayFor(model => model.TotalRest)
        </fieldset>
        <hr />
        <fieldset style="height:17px">

            @Html.DisplayFor(model => model.NameF)
            @Html.DisplayFor(model => model.NameI)
            @Html.DisplayFor(model => model.NameO) <span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.Inn)
            @Html.DisplayFor(model => model.Inn)
        </fieldset>
        <hr />
        <fieldset style="height:17px">
            @Html.DisplayFor(model => model.Ap)
        </fieldset>
        <hr />
        <fieldset style="height:17px">
            @Html.DisplayFor(model => model.Af)
        </fieldset>
        <hr />
        @*<fieldset style="height:17px">
                @Html.DisplayFor(model => model.Avr)
            </fieldset>
            <hr />
            <fieldset style="height:17px">
                @Html.DisplayFor(model => model.Aw)
            </fieldset>
            <hr />*@
        <fieldset style="height:17px">
            @Html.DisplayFor(model => model.Marker1)<span>&nbsp; &nbsp; &nbsp;</span>

            @Html.DisplayFor(model => model.Period1)
        </fieldset>
        <hr />
        <fieldset style="height:17px">
            @Html.DisplayFor(model => model.Marker2)<span>&nbsp; &nbsp; &nbsp;</span>

            @Html.DisplayFor(model => model.Period2)
        </fieldset>
        <hr />
        @*<fieldset style="height:17px">


            @using (Ajax.BeginForm("Notes", "Note",
            new { projectId = Model.ProjectId, regId = Model.RegIdLong, regName = Model.RegName, credId = Model.CreditorIdLong, credName = Model.CreditorName },
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
                UpdateTargetId = "concret_task",
                LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
            }))
            {
                <fieldset>
                    <div class="text-center">

                        <label>Диапазон дат: </label>

                        <input name="startDate" type="date" style="margin-left:30px" value="@Html.DisplayFor(model => model.NotesStart)" />
                        <input name="stopDate" type="date" style="margin-left:10px" value="@Html.DisplayFor(model => model.NotesStop)" />
                        <input type="submit" style="margin-left:50px" class="btn btn-primary" value="Перейти к заметкам" />

                        <br /><br />
                    </div>

                </fieldset>
            }

        </fieldset>
        <hr />*@
    </div>

</div>

