@model WebUI.Models.QEntities.Pin


<div>
    <div class="col-lg-1">
        <p style="height:17px"">@Html.DisplayNameFor(model => model.CreditorName)</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.RegName)</p>
        <hr />
        <p style="height:17px"" class=@Html.GetAlertType(Model.ArchiveFlag)>Дело:</p>
        <hr />
        <p style="height:17px"">Долг:</p>
        <hr />
        <p style="height:17px"">ФИО:</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.Ap)</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.Af)</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.Avr)</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.Aw)</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.Marker1)</p>
        <hr />
        <p style="height:17px"">@Html.DisplayNameFor(model => model.Marker2)</p>
        <hr />
    </div>

    <div class="col-lg-11">

        <fieldset style="height:17px"">

            @Html.DisplayFor(model => model.CreditorName)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.CreditorIdLong)
            @Html.DisplayFor(model => model.CreditorIdLong)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.CreditorIdShort)
            @Html.DisplayFor(model => model.CreditorIdShort)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">
            @Html.DisplayFor(model => model.RegName)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.IdShort)
            @Html.DisplayFor(model => model.IdShort)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.IdLong)
            @Html.DisplayFor(model => model.IdLong)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.Start)
            @Html.DisplayFor(model => model.Start)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.Stop)
            @Html.DisplayFor(model => model.Stop)
        </fieldset>
        <hr />
        <fieldset style="height:17px"" class=@Html.GetAlertType(Model.ArchiveFlag)>
            @Html.DisplayNameFor(model => model.BusinessN)
            @Html.DisplayFor(model => model.BusinessN)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.DebtDogovorN)
            @Html.DisplayFor(model => model.DebtDogovorN)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.ProjectId)
            @Html.DisplayFor(model => model.ProjectId)<span>&nbsp; | &nbsp;</span>
        </fieldset>
        <hr />
        <fieldset style="height:17px"">
            @Html.DisplayNameFor(model => model.DebtRest)
            @Html.DisplayFor(model => model.DebtRest)<span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.TotalRest)
            @Html.DisplayFor(model => model.TotalRest)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">

            @Html.DisplayFor(model => model.NameF)
            @Html.DisplayFor(model => model.NameI)
            @Html.DisplayFor(model => model.NameO) <span>&nbsp; | &nbsp;</span>

            @Html.DisplayNameFor(model => model.Inn)
            @Html.DisplayFor(model => model.Inn)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">
            @Html.DisplayFor(model => model.Ap)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">
            @Html.DisplayFor(model => model.Af)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">
            @Html.DisplayFor(model => model.Avr)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">            
            @Html.DisplayFor(model => model.Aw)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">            
            @Html.DisplayFor(model => model.Marker1)<span>&nbsp; &nbsp; &nbsp;</span>

            @Html.DisplayFor(model => model.Period1)
        </fieldset>
        <hr />
        <fieldset style="height:17px"">
              @Html.DisplayFor(model => model.Marker2)<span>&nbsp; &nbsp; &nbsp;</span>

            @Html.DisplayFor(model => model.Period2)
        </fieldset>
        <hr />

    </div>












    @*<h4>Pin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NameF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DebtDogovorN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DebtDogovorN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DebtRest)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DebtRest)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalRest)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalRest)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArchiveFlag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArchiveFlag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Avr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Af)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Af)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Aw)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aw)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marker1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marker1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Period1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Period1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marker2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marker2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Period2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Period2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditorName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditorId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditorId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdLong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdLong)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdShort)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdShort)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stop)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stop)
            </dd>

        </dl>*@<h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

        <dt>
        </dt>

        <dd>
        </dd>

    </dl>
</div>


@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
