@model IEnumerable<WebUI.Models.QEntities.CreditorReg>

<p>
    @Html.ActionLink("К списку контрагентов", "Index")
</p>
<table class="table" style="border-bottom:medium">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td class=@Html.GetAlertType(item.IsActive)>
            @Html.DisplayFor(modelItem => item.RegName)
        </td>
        
        <td class=@Html.GetAlertType(item.IsActive)>
            @Html.DisplayFor(modelItem => item.RegId)
        </td>
        
        <td class=@Html.GetAlertType(item.IsActive)>
            @Html.DisplayFor(modelItem => item.ActDate)
        </td>
       
        <td class=@Html.GetAlertType(item.IsActive)>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
       
        <td class=@Html.GetAlertType(item.IsActive)>
            @Html.DisplayFor(modelItem => item.StopDate)
        </td>        

        <td>
            @Ajax.ActionLink("Дела (" + item.Count + ")", "Pins", new { regId = item.RegId }, new AjaxOptions() { UpdateTargetId = "concret_task", LoadingElementId = "loader" })
        </td>
</tr>
}

</table>
