@model IEnumerable<WebUI.Models.QEntities.CreditorReg>

<p>
    @Html.ActionLink("К списку контрагентов", "Index")
</p>
<table class="table" style="border-bottom:medium">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.IsActive == "+")
        {
            <td class="alert-success">
                @Html.DisplayFor(modelItem => item.RegName)
            </td>
        }
        else
        {
            <td class="alert-warning">
                @Html.DisplayFor(modelItem => item.RegName)
            </td>
        }

        @if (item.IsActive == "+")
        {
            <td class="alert-success">
                @Html.DisplayFor(modelItem => item.RegId)
            </td>
        }
        else
        {
            <td class="alert-warning">
                @Html.DisplayFor(modelItem => item.RegId)
            </td>
        }

        @if (item.IsActive == "+")
        {
            <td class="alert-success">
                @Html.DisplayFor(modelItem => item.ActDate)
            </td>
        }
        else
        {
            <td class="alert-warning">
                @Html.DisplayFor(modelItem => item.ActDate)
            </td>
        }
        @if (item.IsActive == "+")
        {
            <td class="alert-success">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
        }
        else
        {
            <td class="alert-warning">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
        }

        @if (item.IsActive == "+")
        {
            <td class="alert-success">
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
        }
        else
        {
            <td class="alert-warning">
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
        }

        @if (item.IsActive == "+")
        {
            <td class="alert-success">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
        }
        else
        {
            <td class="alert-warning">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
        }

        <td>
            @Ajax.ActionLink("Дела", "Pins", new { regId = item.RegId }, new AjaxOptions() { UpdateTargetId = "concret_task", LoadingElementId = "loader" })
        </td>
</tr>
}

</table>
