@model WebUI.Models.Chess.ChessResultModel



@using (Ajax.BeginForm("Result", new { deskSide = ViewBag.Random }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "results",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
    <fieldset>

            <div class="col-lg-8 text-center form-control" style="height:auto; width:630px">

                <h4 id=message>Hello!</h4>

                @for (int i = 0; i < 8; i++)
                {
                    for (int j = 0; j < 8; j++)
                    {
                        @Html.ChessDeskBuilder(i, j, ViewBag.Random == 0 ? ChessSide.black : ChessSide.white)
                    }
                    <br />
                }
                <br />
                <p id="start" class="btn btn-primary" style="width:170px">Начать</p>
                <input hidden="hidden" name="field" id="ansField">
                <input hidden="hidden" name="time" id="ansTime">
                <input hidden="hidden" name="isOk" id="ansIsRight">
                <br /><br />
            </div>

            <div id="results" class="col-lg-4 text-center" style="height:auto; width:auto">
                <h4>Лидеры:</h4>
                <table class="table">
                    @foreach (var item in Model.Leaders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Player)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeskSide)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Field)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Result) сек.
                            </td>
                        </tr>
                    }
                </table>

                <h4>Последние попытки:</h4>
                <table class="table">
                    @foreach (var item in Model.Lasts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Player)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeskSide)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Field)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Result) сек.
                            </td>
                        </tr>
                    }
                </table>
        </div>


    </fieldset>

    <br />
}


<script type="text/javascript">

    $(document).ready(function () {

        var start;

        $("#start").click(function () {
            var q = GetQuestion();
            $("#start").text(q);
            start = $.now();
        });

        function GetQuestion(){
            var dig = [1, 2, 3, 4, 5, 6, 7, 8];
            var chr = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'];

            var item1 = chr[Math.floor(Math.random() * 8)];
            var item2 = dig[Math.floor(Math.random() * 8)];

            return item1 + item2;
        }

        $('.answer').click(function (e) {

            var resTime = ($.now() - start) / 1000;

            if ($("#start").text() == e.target.id) {

                $("#message").text('Правильно! За ' + resTime+ 'сек.');
                $("#start").text('Начать');
                $("#ansField").val(e.target.id);
                $("#ansTime").val(resTime);
                $("#ansIsRight").val('true');

            }
            else {

                $("#message").text('Неа! За ' + resTime + 'сек.');
                $("#ansIsRight").val('false');
            }
        });
    });

</script>

